numpy
sympy
h5py
ase
hydra-core==1.2
torch>=1.10.0
pytorch-lightning
torch-scatter -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-cluster -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-spline-conv -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-geometric -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
