numpy
sympy
h5py
ase
torch==1.12.0
torch-scatter @ https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-sparse @ https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-cluster @ https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-spline-conv @ https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-geometric @ https://data.pyg.org/whl/torch-1.12.0+cpu.html