pyrootutils
numpy
sympy
h5py
ase
hydra-core==1.2.0
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0
torch>=1.12.0
pytorch-lightning>=1.6.0
rich
wandb
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
